# Node.js dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# Build and cache
dist/
build/
.cache/
coverage/

# IDE and editor settings
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# OS files
Thumbs.db
